body{
    background-color: rgba(252,213,73,255);
}

.top{
    display: flex;
    flex-direction: column;
}

main{
    margin: 0 auto;
    max-width: 900px;
    color: black;
}

main img{
    max-width: 100%;
    margin-bottom: 40px;
}
main .retour-page{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

