/* lib.css
typo : Arrial */

/* bouton menu */
a{
    text-decoration: none;
    color: white;
    font-size: 25px;

}

/* bouton film  */
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
}



li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    padding: 10px;
}

li:hover{
    transform:scale(1.2);
}

.btn{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    color: red;
    border: 2px solid red;
    background-color: black;
    border-radius: 50px;
    font-weight: bold;
    padding: 10px 25px 10px 25px;
    width: 50px;
    box-sizing: content-box;
}

.btn:hover{
    background-color: red;
    color: black;
}

/* images  */
ul li img{
    width: 200px;
    height: 250px;
    border-radius: 5px;
}

h1{
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 40px;
    color: black;
    margin-left: 20px;
}

p{
    line-height: 2; /* Par défaut en 'em',  */
    font-size: 26px;
    padding-bottom: 50px;
    color: black;
    margin-left: 20px;
}

.bg-blue{
    background-color: blue;
}
